@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "letterboxd";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(72% 0.219 149.579);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(37% 0.013 285.805);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(60% 0.126 221.723);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.213 47.604);
  --color-info-content: oklch(21% 0.006 56.043);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  html {
    font-family: "Mona Sans", sans-serif;
  }
}

.bg {
  background:
    radial-gradient(
      circle at 30% 50%,
      var(--color-info) -200%,
      transparent 35%
    ),
    radial-gradient(
    circle at 70% 60%,
    var(--color-success) -200%,
    transparent 30%
  ),
    radial-gradient(
    circle at 50% 20%,
    var(--color-neutral) -200%,
    transparent 35%
  );
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.3s;
}

/* div {
  box-sizing: border-box;
  border: 1px red solid;
} */
